* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: #2c3e50; /* Secondary Color */
    background: #ffffff; /* Background Color */
    display: flex;
}

.left-content {
    width: 300px;
    height: 100%;
    background: #ffffff; /* Background Color */
    border-right: 1px solid rgba(221, 221, 221, 0.38);
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.main-content {
    flex: 1;
    overflow-y: auto;
    margin-left: 20px;
    background: #fff;
    padding: 10px;
    border-left: 2px solid rgba(221, 221, 221, 0.38);
}

.user-profile {
    flex: 1;
    margin-top: 20px;
    overflow-y: auto;
    margin-left: 10px;
    background: #fff;
    padding: 10px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    margin-left: 120px;
}

.logo a {
    color: #ecf0f1; /* Text Color */
    text-align: right;
    background: #1abc9c; /* Primary Color */
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 30px;
    font-weight: 500;
    text-decoration: none;
}

.nav {
    flex: 1;
    justify-content: flex-end;
    margin: 50px 0px;
}

.nav ul {
    list-style-type: none;
}

.nav ul li, .nav ul li a {
    display: flex;
    justify-content: flex-end;
}

.nav ul li a {
    padding: 8px 0px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.4);
    letter-spacing: 1px;
    font-weight: 500;
    position: relative;
    text-decoration: none;
}

.nav ul li a:hover {
    color: #16a085; /* Accent Color */
}

.nav ul li a:after {
    content: "";
    width: 0;
    height: 1px;
    background: #000;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
}

.nav ul li a:hover:after {
    width: 100%;
    transform: scaleX(1);
}

.left-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: auto;
}

.social-icons ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0;
}

.social-icons ul li {
    margin-left: 10px;
}

.social-icons ul li a {
    color: #2c3e50; /* Secondary Color */
    padding: 5px 8px;
    font-size: 16px;
    transition: transform 0.3s;
}

.social-icons ul li a:hover {
    color: #16a085; /* Accent Color */
    transform: scale(2) translateY(-5px);
}

.foot-contact ul {
    list-style-type: none;
    padding: 0;
    text-align: right;
    padding: 10px;
    font-size: 15px;
}

.foot-contact ul li {
    margin: 2px 0px;
}

.foot-contact ul li a {
    color: rgba(44, 62, 80, 0.6); /* Light Gray */
    text-decoration: none;
}

.foot-contact ul li a:hover {
    color: #16a085; /* Accent Color */
    text-decoration: underline;
}


.title {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 15px;
    letter-spacing: 5px;
    color: #2c3e50;
    margin-left: 30px;

} 
.sub-title {
    margin-top: 50px;
    margin-left: 30px;
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    color: #999999;
    font-weight: 500;
    letter-spacing: 5px;
}

img{
    height: 400px;
    width: 400px;
    margin-top: 60px;
    margin-left: 80px ;
    border-radius: 40px;
    border: 5px solid #1abc9c;
}

.hello {
    letter-spacing: 2.1px;
    font-weight: normal;
    color: #1abc9c;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
} 
.name {
    font-size: 40px;
    text-transform: uppercase;
    margin: 15px 0px;
    color: #16a085;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}  
.role {
    font-size: 18px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #16a085;
} 

.user-profile {
    padding-top: 150px;
    padding-left:-300px; 
}  

.text {
    font-size: 15px;
    color:#2c3e50;
}  

.pr-list {
    margin: 30px 0px;     
} 
.pr-list ul li {
    margin-bottom: 8px;
} 
.pr-list ul li i {
    width: 18px;
}

#second{
    display:flex;
}